# .DS_Store
.DS_Store

*/.DS_Store/

# Jupyter Checkpoints

.ipynb_checkpoints

*/.ipynb_checkpoints/

.Rhistory

*/.Rhistory/

*/bert-base-uncased/

*/facebook/

# Byte-compiled / optimized / DLL files
__pycache__/

# Keys
#api_keys_all.py

# Folders:

Data_2014
Data_2022
Data_sanity_check
#WebVisualizations/.DS-Store

.env
.venv
